button {
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
  padding: 12px 25px;
  border-radius: 8px;
  background-color: #ff5200;
  cursor: pointer;
}

p {
  color: black;
  font-weight: bold;
}

.questionWrapper {
  border: 1px solid lightgray;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.questionWrapper h2 {
  text-align: center;
  display: block;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgray;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

input {
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.highlight {
  font-weight: bold;
  background: yellow;
  padding: 10px;
}
