button {
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
  padding: 12px 25px;
  border-radius: 8px;
  background-color: #ff5200;
  cursor: pointer;
}

p {
  color: black;
  font-weight: bold;
}

.questionWrapper {
  border: 1px solid lightgray;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
